/* CSS HEX
--almond: #eae0d5ff text
--dun: #d8c6b2ff overskrift
--beaver: #927e67ff 
--walnut-brown: #5e503fff - background footer & header
--taupe: #463e34ff - main background
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #463e34ff;
  color: #eae0d5ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  height: 100%;
}

.herosec {
  display: flex;
  width: 500px;
  height: auto;
  border-radius: 5px;
  padding: 10px;
  align-items: end;
  background-color: #927e67ff;
}

nav {
  background-color: #5e503fff;
}

.footerbox {
  background-color: #5e503fff;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.navmenu {
  color: #eae0d5ff;
  display: flex;
  justify-content: end;
  flex: auto;
  gap: 25px;
  font-size: 1rem;
  padding-right: 50px;
}
.navbar {
  display: flex;
  align-items: center;
}

.navheader {
  color: #d8c6b2ff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  padding-left: 30px;
  margin: 10px;
}

.header2 {
  color: #d8c6b2ff;
}
body.herop {
  font-size: 14px;
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 30px;
}
a:link,
a:visited,
a:focus {
  color: inherit;
  text-decoration: none;
}

.lowerthird {
  font-size: 14px;
  display: flex;
  height: auto;
  border-radius: 10px;
  gap: 100px;
}
.third {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lowerthird p {
  width: 500px;
  background-color: #927e67ff;
}
